In [2]:
import pandas as pd

In [4]:
import numpy as np

# Series

In [3]:
a = pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
b = pd.Series(np.array(['a','b','c']))
b

0    a
1    b
2    c
dtype: object

In [9]:
c = pd.Series(np.arange(1,10))
c

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [10]:
d = pd.Series([[1,3,4,5,6,6],['a','b','c','d','e']])
d

0    [1, 3, 4, 5, 6, 6]
1       [a, b, c, d, e]
dtype: object

# DataFrame

In [11]:
a1 = pd.DataFrame([1,2,3,4,5])
a1

   0
0  1
1  2
2  3
3  4
4  5

In [14]:
a2 = pd.DataFrame([['a','b','c','d'],[1,2,3,4]])
a2

   0  1  2  3
0  a  b  c  d
1  1  2  3  4

In [28]:
a3 = pd.DataFrame(np.arange(1,41).reshape(10,4),columns=['col1','col2','col3','col4'])
a3

   col1  col2  col3  col4
0     1     2     3     4
1     5     6     7     8
2     9    10    11    12
3    13    14    15    16
4    17    18    19    20
5    21    22    23    24
6    25    26    27    28
7    29    30    31    32
8    33    34    35    36
9    37    38    39    40